# Folders
docs/public*
_obj
_test
vendor/bundle/
builds
bin
tmp
tags
site
target
dist
_vendor-*
docs/public/
fixtures/formats/Sphinx/_build/

.idea
.fleet

*.sublime-workspace
*.sublime-project

.release-env

.DS_Store

# Files
*.o
*.a
*.so
*.exe
*.prof
*.swp
*~
.bundle
.vagrant
*.snap

.github/styles/*
!.github/styles/config/

.github/styles/config/*
!.github/styles/config/vocabularies/

.github/styles/config/vocabularies/*
!.github/styles/config/vocabularies/Vale
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
